[submodule "workspace/Universal_Robots_ROS2_Gazebo_Simulation"]
	path = workspace/Universal_Robots_ROS2_Gazebo_Simulation
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Gazebo_Simulation.git
	branch = humble
[submodule "workspace/Universal_Robots_ROS2_GZ_Simulation"]
	path = workspace/Universal_Robots_ROS2_GZ_Simulation
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_GZ_Simulation.git
	branch = humble
[submodule "workspace/cartesian_controllers"]
	path = workspace/cartesian_controllers
	url = https://github.com/fzi-forschungszentrum-informatik/cartesian_controllers.git
	branch = ros2
[submodule "workspace/Universal_Robots_ROS2_Description"]
	path = workspace/Universal_Robots_ROS2_Description
	url = https://github.com/Nithish-Kumar19181/Universal_Robots_ROS2_Description.git
	branch = humble
